/* Обнулення */
@import "nullstyle.scss";
@import "header.scss";
@import "mainPage.scss";
@import "categories.scss";
@import "category.scss";
@import "article.scss";
/* dark-mode ================================================================================== */
html.dark-mode {
	background: #36393f;
	body.dark-mode {
		color: #fff;
		background: #36393f;
		a {
			color: #fff;
		}
		.shadow {
			box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.08),
						5px 5px 15px rgba(0, 0, 0, 0.2);
		}
		.header {
			background: #36393f;
			.dark__mode-form {
				.dark__mode-button {
					img {
						filter: invert(100%);
					}
				}
			}
		}
	}
}
/* OTHER ================================================================================== */
// font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (2560 - 320)));
.shadow {
	box-shadow: -12px -12px 24px #FFFFFF,
				12px 12px 24px #B4C1D5;
}
.shadow-inset {
	box-shadow: inset -8px -8px 16px #FFFFFF,
				inset 8px 8px 16px #B4C1D5;
}
h2,h3 {
	line-height: 120% !important;
	letter-spacing: 1px;
}
h2 {
	font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (2560 - 320)));
	font-weight: bold;
}
h3 {
	font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (2560 - 320)));
}
img {
	object-fit: cover;
}
a {
	display: inline-block;
	transition: .3s;
	color: #68768A;
}
a:hover {
	background-color: #d3e7e5;
}
body {
	width: 100%;
	min-height: 100%;
	padding: 100px 20px;
	overflow-x: hidden;
	font-family: 'PT Sans', sans-serif;
	color: #68768A;
	background: #EBF3FF;
}
/* OTHER */
@media (max-width: 768px) {
	
}