@charset "UTF-8";
/* Обнулення */
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* header ================================================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 18px;
  z-index: 1000;
  background: #EBF3FF;
}
.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.header .header__menu a {
  margin: 0 20px 0 0;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1.7rem;
  font-weight: 400;
}
.header .header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}
.header .header__form .header__button {
  padding: 17px 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: 0;
}
.header .header__form .header__button img {
  width: 20px;
  height: 20px;
}
.header .header__form .header__button:hover {
  background-color: rgba(0, 128, 0, 0.1);
}
.header .header__menu-burger {
  display: none;
}

@media (max-width: 768px) {
  .header {
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .header .header__menu {
    display: none;
  }
  .header .header__menu-burger {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 14px;
    width: 60px;
    height: 54px;
    padding: 15px 20px;
    cursor: pointer;
  }
  .header .header__menu-burger span {
    position: absolute;
    width: 60%;
    height: 2px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #000;
  }
  .header .header__menu-burger:before, .header .header__menu-burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 60%;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .header__menu-burger:before {
    top: 12px;
  }
  .header .header__menu-burger:after {
    bottom: 12px;
  }

  .header.active {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 0 40px 0;
    overflow-y: auto;
  }
  .header.active .header__menu-burger span {
    display: none;
  }
  .header.active .header__menu-burger:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 26px;
    left: 13px;
  }
  .header.active .header__menu-burger:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 26px;
    left: 13px;
  }
  .header.active .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .header.active .header__menu a {
    margin: 0 0 20px 0;
  }
  .header.active .dark__mode-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header.active .dark__mode-form .dark__mode-button {
    margin: 5px 0px;
  }
  .header.active .dark__mode-form .dark__mode-button img {
    width: 25px;
    height: 25px;
  }

  body.active {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
/* content__main ================================================================================== */
.content__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.content__main .main__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  margin-right: 20px;
}
.content__main .main__left .main__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.3333333333% - 1rem);
          flex: 0 1 calc(33.3333333333% - 1rem);
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 20px;
}
.content__main .main__left .main__item .main__img img {
  width: 100%;
  max-height: 280px;
}
.content__main .main__left .main__item .main__title h2 {
  margin: 10px 0;
}
.content__main .main__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}
.content__main .main__right .main__title {
  margin: 0 0 10px 0;
}
.content__main .main__right .main__title h2 {
  font-size: 2rem;
}
.content__main .main__right .main__item {
  margin: 0 0 20px 0;
  padding: 1rem;
  border-radius: 20px;
}
.content__main .main__right .main__item h2 {
  font-size: 1.2rem;
}

/* content__categories ================================================================================== */
.content__categories {
  width: 100%;
}
.content__categories .categories__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content__categories .categories__items .categories__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.3333333333% - 1rem);
          flex: 0 1 calc(33.3333333333% - 1rem);
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 20px;
}
.content__categories .categories__items .categories__item .categories__img img {
  width: 100%;
}
.content__categories .categories__items .categories__item .categories__title {
  margin-top: 10px;
}

/* content__category ================================================================================== */
.content__category {
  width: 100%;
}
.content__category .category__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.content__category .category__items .category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 20px;
}
.content__category .category__items .category__item .category__img {
  margin-right: 10px;
}
.content__category .category__items .category__item .category__img img {
  width: 150px;
}
.content__category .category__items .category__item .category__title h2 {
  margin: 0 0 10px 0;
}

/* content__article ================================================================================== */
.content__article {
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
}
.content__article .article__title {
  margin: 0 0 10px 0;
}
.content__article .article__title h2 {
  font-size: 2.8rem;
  font-weight: 600;
}
.content__article .article__video {
  margin: 0 0 10px 0;
}
.content__article .article__video .article__video-palayer {
  width: 100%;
  height: calc(200px + 740 * (100vw - 320px) / 2240);
}

/* dark-mode ================================================================================== */
html.dark-mode {
  background: #36393f;
}
html.dark-mode body.dark-mode {
  color: #fff;
  background: #36393f;
}
html.dark-mode body.dark-mode a {
  color: #fff;
}
html.dark-mode body.dark-mode .shadow {
  -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.08), 5px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.08), 5px 5px 15px rgba(0, 0, 0, 0.2);
}
html.dark-mode body.dark-mode .header {
  background: #36393f;
}
html.dark-mode body.dark-mode .header .dark__mode-form .dark__mode-button img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

/* OTHER ================================================================================== */
.shadow {
  -webkit-box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #B4C1D5;
          box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #B4C1D5;
}

.shadow-inset {
  -webkit-box-shadow: inset -8px -8px 16px #FFFFFF, inset 8px 8px 16px #B4C1D5;
          box-shadow: inset -8px -8px 16px #FFFFFF, inset 8px 8px 16px #B4C1D5;
}

h2, h3 {
  line-height: 120% !important;
  letter-spacing: 1px;
}

h2 {
  font-size: calc(18px + 7 * (100vw - 320px) / 2240);
  font-weight: bold;
}

h3 {
  font-size: calc(15px + 5 * (100vw - 320px) / 2240);
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #68768A;
}

a:hover {
  background-color: #d3e7e5;
}

body {
  width: 100%;
  min-height: 100%;
  padding: 100px 20px;
  overflow-x: hidden;
  font-family: "PT Sans", sans-serif;
  color: #68768A;
  background: #EBF3FF;
}

/* OTHER */